<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h3>合同通知</h3>
		<p>合同<%= @contract.number %>的内容有变动，<%= @natural_language %></p>
	</body>
</html>