<html>
<body>

<div style="width:660px;">

  <p style="font-size: 14px; line-height:30px; text-indent: 2em;text-indent: 0;">亲爱的客户：</p>

  <p style="font-size: 14px; line-height:30px; text-indent: 2em;">您好！感谢您一直以来对东隆科技的信任与支持，我们也秉持“服务创造未来”的经营理念不断完善我们的服务。在此请允许我介绍一款NEL的新产品——太赫兹发生器，希望能为您的研究工作提供帮助。产品特点如下：</p>


  <ul style="font-size: 14px; line-height:30px;text-indent: 0;">
    <li style="text-indent: 0;">高效率的CW THz发生器</li>

    <li style="text-indent: 0;">波导耦合的光混频器</li>

    <li style="text-indent: 0;">支持W、F、D和J波段</li>

    <li style="text-indent: 0;">集成天线的光混频器</li>

    <li style="text-indent: 0;">200G~1.5THz的蝶形天线或对数周期天线</li>
  </ul>

  <p style="text-indent: 0;"><a href="http://www.ntt-electronics.com/cn/products/photonics/utc-pd.html" target="_blank">
    <img src="http://ww4.sinaimg.cn/mw690/686b9ae6gw1el5sgg56zgj20r80f67b4.jpg"/>
  </a></p>

  <p style="font-size: 14px; line-height:30px; text-indent: 2em;">更多产品信息请点击链接：

    <a href="http://www.ntt-electronics.com/cn/products/photonics/utc-pd.html">http://www.ntt-electronics.com/cn/products/photonics/utc-pd.html</a>
  </p>

  <p style="font-size: 14px; line-height:30px; text-indent: 2em;">NEL（NTT
    Electronics）自1995年以来一直致力于光通信相关的有源/无源器件设备的研究及商用。其成果包括促进AWG器件的标准化以及开发出世界上第一个基于砷化镓的无冷却10Gbps直接调制DFB激光器模块等。未来，除了扩大已有的光通信产品线外，还会布局开发提供非光通信领域的新波长波段激光光源以适应市场需求。</p>


  <p style="font-size: 14px; line-height:30px; text-indent: 2em;">东隆科技与NEL是长期的合作伙伴，也是中国的独家代理，如有任何需要，欢迎和我们联系，联系电话：027-87807177，我们将竭诚为您服务！</p>


  <p style="font-size: 14px; line-height:30px; text-indent: 2em;">最后，祝您工作顺利，生活愉快！</p>
</div>
</body>
</html>

