<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<h3></h3>
<table style="border:1px solid #038; width: 500px; position: static; z-index: auto; ">
  <!--<table style="border-collapse: collapse; border-style: solid; border-color: rgb(153, 153, 153); border-width: 1px 0 0 1px; width: 1000px; position: static; z-index: auto; ">-->
  <thead>
  <tr style="background-color: #038; color: #FFF;">
    <!--<th style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;width:90px;">销售</th>-->
    <th>姓名</th>
    <th>数量</th>
  </tr>
  </thead>
  <tbody>
  <% @businesses.each do |business| %>
          <tr>
        <td><%= business.name %></td>
        <td><%= @quotes.where("business_user_id = ?", business.id).size %></td>
      </tr>
  <% end %>
  </tbody>
</table>

</body>
</html>