<% category = $filter_generator_config[:category2] %>
<h3><span class="keyword"><%= category[:name][:cn] %></span> 查询条件：</h3>
<% category[:properties].each do |property| %>
    <div class="row ETSC-properties">
      <div class="large-4 medium-4 columns">
        <label class="right"><%= property[:name][:cn] %>：</label>
      </div>
      <div class="large-20 medium-20 columns form">
        <%= render :partial => property[:type], :locals => property %>
      </div>
    </div>
<% end %>
