<h3><span class="keyword">激光器</span> 查询条件：</h3>
<div class="row">
  <div class="large-4 medium-4 columns">
    <label class="right">激励源：</label></div>
  <div class="large-20 medium-20 columns">
    <input type="radio" name="excitation_source" value="0" id="source_type_0"><label for="source_type_0">全部</label>
    <input type="radio" name="excitation_source" value="1" id="source_type_1"><label for="source_type_1">准分子</label>
    <input type="radio" name="excitation_source" value="2" id="source_type_2"><label for="source_type_2">二氧化碳</label>
    <input type="radio" name="excitation_source" value="3" id="source_type_3"><label for="source_type_3">发光二极管</label>
    <input type="radio" name="excitation_source" value="4" id="source_type_4"><label for="source_type_4">激光</label>
  </div>
</div>
<div class="row">
  <div class="large-4 medium-4 columns">
    <label class="right ">工作物质：</label></div>
  <div class="large-20 medium-20 columns">
    <input type="radio" name="working_material" value="0" id="material_type_0"><label for="material_type_0">全部</label>
    <input type="radio" name="working_material" value="1" id="material_type_1"><label for="material_type_1">气体</label>
    <input type="radio" name="working_material" value="2" id="material_type_2"><label for="material_type_2">固体</label>
    <input type="radio" name="working_material" value="3" id="material_type_3"><label for="material_type_3">液体</label>
    <input type="radio" name="working_material" value="4" id="material_type_4"><label for="material_type_4">半导体</label>
  </div>
</div>
<div class="text-right">
  <a role="button" aria-label="submit form" href="javascript:void(0);" class="button tiny" id="ajax_filter">查询</a>
</div>