<div class="row">
  <div class="off-canvas-wrap show-for-small-only" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small"><a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a></section>
        <section class="middle tab-bar-section"><h1 class="title">公司简介</h1></section>
      </nav>
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>关于我们</label></li>
          <li class="active"><a href="#">公司简介</a></li>
          <li><a href="customers.html">客户信息</a></li>
          <li><a href="partners.html">合作伙伴</a></li>
        </ul>
      </aside>
      <section class="main-section normal-text">
        <img src="<%= asset_path("site/etsc_panorama.jpg") %>" alt="东隆科技办公室"/>

        <p>武汉东隆科技有限公司(简称东隆科技)是一家从事光电产品研发、生产及销售的高科技企业，致力于为客户提供专业的全套解决方案。公司创立于1997年，总部位于武汉·中国光谷的东湖高新技术开发区。</p>

        <p>自成立以来，我们不断引进国外先进产品和技术，先后和近百家国际知名的光电企业进行合作。我们代理ILX Lightwave、NEL、Thales Laser、Coherent、Elliot Scientific、Global
          Laser、MPD、Picoquant、Passat、LUNA、Lumera、Primes、Koshin Kogaku、QD Laser、Sigma
          Koki等公司的产品。产品种类涉及光学器件和精密微动机械、激光器、激光测控设备、光谱及成像设备、光电子测试仪器、半导体生产及检测设备，共六大种类百余品种，广泛应用于光谱研究、光纤通讯、航空航天、品质检测、国防军工、激光加工、生物医疗及信息安全等相关领域，为科研和生产提供了一流的产品和有力的技术保障。</p>

        <p>经过十年的发展，我们拥有一批专业的技术人才，能够针对客户的应用要求提供高品质的产品和专业的解决方案，使客户能够最大效率地实现自己的应用。目前我们已经建立了覆盖中国、辐射全球的销售体系。同时，我们参照国际上优秀同业的操作规范和经验，为客户提供完善的售后跟踪服务。我们的客户群包括高等院校、科研院所、生产企业等近千家光电产品应用机构。</p>

        <p>“服务创造未来”是我们的一贯宗旨，我们坚持以一流的品质、专业的解决方案、完善快捷的服务，立足于国内光电事业，与广大客户携手合作，共创辉煌。</p>
      </section>
      <a class="exit-off-canvas"></a></div>
  </div>

  <div class="large-6 medium-6 show-for-medium-up columns ETSC-main-panel">
    <h3>◆　关于我们</h3>
  <ul class="side-nav">
    <li class="active"><a href="#">公司简介</a></li>
    <li><a href="customers.html">客户信息</a></li>
    <li><a href="partners.html">合作伙伴</a></li>
  </ul>
  </div>
  <div class="large-18 medium-18 show-for-medium-up columns normal-text">
    <img src="<%= asset_path("site/etsc_panorama.jpg") %>" alt="东隆科技办公室"/>
    <p>武汉东隆科技有限公司(简称东隆科技)是一家从事光电产品研发、生产及销售的高科技企业，致力于为客户提供专业的全套解决方案。公司创立于1997年，总部位于武汉·中国光谷的东湖高新技术开发区。</p>

    <p>自成立以来，我们不断引进国外先进产品和技术，先后和近百家国际知名的光电企业进行合作。我们代理ILX Lightwave、NEL、Thales Laser、Coherent、Elliot Scientific、Global
      Laser、MPD、Picoquant、Passat、LUNA、Lumera、Primes、Koshin Kogaku、QD Laser、Sigma
      Koki等公司的产品。产品种类涉及光学器件和精密微动机械、激光器、激光测控设备、光谱及成像设备、光电子测试仪器、半导体生产及检测设备，共六大种类百余品种，广泛应用于光谱研究、光纤通讯、航空航天、品质检测、国防军工、激光加工、生物医疗及信息安全等相关领域，为科研和生产提供了一流的产品和有力的技术保障。</p>

    <p>经过十年的发展，我们拥有一批专业的技术人才，能够针对客户的应用要求提供高品质的产品和专业的解决方案，使客户能够最大效率地实现自己的应用。目前我们已经建立了覆盖中国、辐射全球的销售体系。同时，我们参照国际上优秀同业的操作规范和经验，为客户提供完善的售后跟踪服务。我们的客户群包括高等院校、科研院所、生产企业等近千家光电产品应用机构。</p>

    <p>“服务创造未来”是我们的一贯宗旨，我们坚持以一流的品质、专业的解决方案、完善快捷的服务，立足于国内光电事业，与广大客户携手合作，共创辉煌。</p>

  </div>
</div>