
<div class="content_body">
  <div class="content_side">
    <div id="about_us" class="frame">
      <h2>关于我们</h2>
      <ul>
        <li><%= link_to "公司简介", :action => "about1", :id => nil, :format =>"htm" %></li>
        <li><%= link_to "客户信息", :action => "about2", :id => nil, :format =>"htm" %></li>
        <li><%= link_to "合作伙伴", :action => "about3", :id => nil, :format =>"htm" %></li>
        <li><span>联系我们</span></li>
      </ul>
    </div>
  </div>
  <div class="total_text" id="not_product">
    <div class="content_text">
      <dl>
        <dt>东隆科技有限公司<a href="#" onMouseOver="toggle('map1',event);" onMouseOut="toggle('map1',event);">[查看地图]</a></dt>
        <dd>
          <p>地址：武汉市东湖开发区光谷创业街1栋9楼(430074)</p>
          <p>电话：86 27 87807177</p>
          <p>传真：86 27 87807133</p>
          <p>邮箱：<a href="mailto:sales@etsc-tech.com" id="ETSCemail-1">sales@etsc-tech.com</a></p>
          <p></p>
        </dd>
        <!--dt>东隆科技有限公司华北办事处</dt>
        <dd>
          <p>地址：北京市海淀区普惠北里10号楼1-505室(100038)</p>
          <p>电话：18971666720</p>
          <p>邮箱：<a href="mailto:sales@etsc-tech.com" id="ETSCemail-2">sales@etsc-tech.com</a></p>
          <p></p>
        </dd>
        <dt>东隆科技有限公司华南办事处<a href="#" onMouseOver="toggle('map3',event);" onMouseOut="toggle('map3',event);">[查看地图]</a></dt>
        <dd>
          <p>地址：深圳市福田区华强北路2006号东方时代大厦B2601室（518031）</p>
          <p>电话：86 755 83015356</p>
          <p>邮箱：<a href="mailto:sales@etsc-tech.com" id="ETSCemail-3">sales@etsc-tech.com</a></p>
          <p></p>
        </dd>
        <dt>ETSC（HongKong）Technologies Limited</dt>
        <dd>
          <p>Add：Unit E 3/F 33 On Chuen St.Fanling, HongKong</p>
          <p>TEL：852 26756699</p>
          <p>FAX：852 23443904 </p>
          <p>Email：<a href="mailto:sales@etsc-tech.com" id="ETSCemail">sales@etsc-tech.com</a></p>
        </dd-->
      </dl>
    </div>
  </div>
</div>
<div id="map1" style="position:absolute; left: -1000px;"><img alt="东隆科技总部" src="/images/site/map1.gif" /></div>
<div id="map3" style="position:absolute; left: -1000px;"><img alt="东隆科技华南办事处" src="/images/site/map3.gif" /></div>
<script type="text/javascript">
	function toggle(map,event){
		event = event ? event : (window.event ? window.event : null);
		if(document.getElementById(map).style.left=='-1000px'){
			document.getElementById(map).style.left=event.clientX+"px";
			document.getElementById(map).style.top=event.clientY+"px";
		}else{
			document.getElementById(map).style.left="-1000px";
		}
	}
</script>
