<div class="main" >
<div class="left f_l left_one">
    	<h2><b class="ico"></b>产品中心</h2>
        <div class="left_list border">
        	<div class="left_list_one">
            	<h3><b class="ico_one"></b>激光及光谱</h3>
                <ul>
                	<li><a href="javascript:" title="">激光</a></li>
                    <li><a href="javascript:" title="">太阳能激光器</a></li>
                    <li><a href="javascript:" title="">激光测量</a></li>
                </ul>
            </div>
            <div class="left_list_one">
            	<h3><b class="ico_one"></b>光通讯</h3>
                <ul>
                	<li><a href="javascript:" title="">原材料销售</a></li>
                    <li><a href="javascript:" title="">装备及测试，老化夹具</a></li>
                </ul>
            </div>
            <div class="left_list_one">
            	<h3><b class="ico_one"></b>微加工</h3>
                <ul>
                	<li><a href="javascript:" title="">IPGM</a></li>
                    <li><a href="javascript:" title="">郭琛小组项目</a></li>
                    <li><a href="javascript:" title="">Passat代理激光器</a></li>
                </ul>
            </div>
            <div class="left_list_one">
            	<h3><b class="ico_one"></b>光纤传感</h3>
                <ul>
                	<li><a href="javascript:" title="">光纤传感</a></li>
                    <li><a href="javascript:" title="">光纤气体传感</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div class="content f_l main_one">
    <div class="bread">您所在的位置：关于我们 > 东隆简介</div>
  <div class="about">
			武汉东隆科技有限公司(简称东隆科技)是一家从事光电产品研发、生产及销售的高科技企业，致力于为客户提供专业的全套解决方案。公司创立于1997年，总部位于武汉·中国光谷的东湖高新技术开发区。<br>

自成立以来，我们不断引进国外先进产品和技术，先后和近百家国际知名的光电企业进行合作。我们代理ILX Lightwave、NEL、Thales Laser、Coherent、Elliot Scientific、Global Laser、MPD、Picoquant、Passat、LUNA、Lumera、Primes、Koshin Kogaku、QD Laser、Sigma Koki等公司的产品。产品种类涉及光学器件和精密微动机械、激光器、激光测控设备、光谱及成像设备、光电子测试仪器、半导体生产及检测设备，共六大种类百余品种，广泛应用于光谱研究、光纤通讯、航空航天、品质检测、国防军工、激光加工、生物医疗及信息安全等相关领域，为科研和生产提供了一流的产品和有力的技术保障。<br>

经过十年的发展，我们拥有一批专业的技术人才，能够针对客户的应用要求提供高品质的产品和专业的解决方案，使客户能够最大效率地实现自己的应用。目前我们已经建立了覆盖中国、辐射全球的销售体系。同时，我们参照国际上优秀同业的操作规范和经验，为客户提供完善的售后跟踪服务。我们的客户群包括高等院校、科研院所、生产企业等近千家光电产品应用机构。<br>

“服务创造未来”是我们的一贯宗旨，我们坚持以一流的品质、专业的解决方案、完善快捷的服务，立足于国内光电事业，与广大客户携手合作，共创辉煌。

        </div>
  </div>
</div>