<div class="row">
  <div class="off-canvas-wrap show-for-small-only" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small"><a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a></section>
        <section class="middle tab-bar-section"><h1 class="title">客户信息</h1></section>
      </nav>
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>关于我们</label></li>
          <li><a href="about_us.html">公司简介</a></li>
          <li class="active"><a href="#">客户信息</a></li>
          <li><a href="partners.html">合作伙伴</a></li>
        </ul>
      </aside>
      <section class="main-section normal-text">
        <img src="<%= asset_path("site/customer_banner.jpg") %>" alt="客户"/>

        <p>东隆光电以客户为中心，以技术和服务为立身之本，与国内众多的重点光电企业及相关高校、科研单位建立了密切的合作关系，得到了广大客户的充分认可。</p>

        <p>我们的客户包括有：(以下排名不分先后)</p>
        <dl>
          <dt>高等院校</dt>
          <dd>清华大学、北京大学、北京航空航天大学、北京工业大学、北京邮电大学、北方交通大学、北京理工大学、中央民族大学、哈尔滨工业大学、哈尔滨工程大学、大连理工大学、长春理工大学、东北师范大学、吉林大学、大连民族学院、中国海洋大学、天津大学、南开大学、西安交通大学、西北工业大学、西北大学、西安电子科技大学、山西大学、太原理工大学、上海交通大学、复旦大学、华东师范大学、浙江大学、中国科学技术大学、安徽大学、合肥工业大学、泉州师范大学、南京大学、南京理工大学、南京邮电大学、南京师范大学、东南大学、宁波工程学院、宁波理工大学、温州大学、厦门大学、西南大学、成都电子科技大学、中山大学、华南理工大学、华南师范大学、暨南大学、深圳大学、广东工业大学、中国国防科技大学、武汉工程大学、中南民族大学、海军工程大学、军械士官学院、武汉理工大学、武汉大学、华中科技大学、华中师范大学、湖北大学、江苏大学、苏州大学、浙江工业大学、中国石油大学、中南大学、河南师范大学、首都师范大学、中国人民解放军装备指挥技术学院、人民大学、湖北工业大学、中北大学、兰州大学等。</dd>
          <dt>科研院所</dt>
          <dd>中科院武汉物理与数学所、中科院武汉测量地球物理所、光电国家实验室、中科院北京半导体所、中科院物理所、中科院微电子所、中科院空间中心、北京光电技术研究所、中科院等离子体物理研究所、中科院福建物构所、中科院上海硅酸盐所、中科院上海微系统所、上海光机所、上海激光所、上海技术物理研究所、中国工程物理研究院、西安光机所、安徽光机所、大连化物所、东北电子技术研究所、成都光电所、11所、628所、13所、8358所、7801所、213所、北京航空制造工程研究所、北京长城计量测试技术研究所、618所、205所、21所、23所、24所、26所、34所、44所、718所、717所、722所、209所、山东科学院、中科院苏州纳米所、中科院苏州医工所、中科院上海应物所、中科院理化技术研究所、北京阳坊防化研究所、中国中医科学院、北京军事医学科学院、北京中科院化学研究所、华北光电技术研究所、中国兵器装备研究院、中科院力学研究所、中国科学院高能物理研究所等。</dd>
          <dt>生产企业</dt>
          <dd>华为技术、中兴通讯、阿尔卡特—朗讯、华工科技、美国PE公司、光迅科技、电信器件、烽火科技、JDSU、BOOKHAM、SAE、OPLINK、FLEXTRONICS、NEO-PHOTONICS、3M、FLUKE、深圳昂纳、富创光电、聚光科技、SMC（中国）公司、高意科技、苏州旭电、友达光电、华工正源、滨湖机电、中山波若威、苏州鸿础、博创科技、众友科技、深圳世纪人通讯、无锡中兴、飞博创、清溢精密光电、台达电子、深圳大族、乐普科（天津）光电、武汉凌云光电、深圳星光通科技、三工光电、金运激光、武汉莱特荣、沈阳大陆集团、苏州科纳、华磊光电、蓝宝、高辉、同辉、三安光电、山东华光、杭州艾森、美国康宁、上海大众、通用电气、Finisar、ABB、Comau、库卡自动化设备（上海）有限公司、梅塞尔切割焊接（中国）有限公司、通快中国、奥雷光电、合肥朗伯光电、傅吉亚（无锡）座椅有限公司、合肥朗伯光电、浩光光电、苏州吉矽、山东量子技术研究院有限公司、武钢诺贝(武汉)激光拼焊技术有限公司、广东正业科技股份有限公司、富士康（晋城）科技工业园、阿帕奇IPG（北京）光纤激光技术有限公司、北京锐拓明光电技术有限公司、北京雪迪龙自动控制系统有限公司等。</dd>
        </dl>
      </section>
      <a class="exit-off-canvas"></a></div>
  </div>

  <div class="large-6 medium-6 show-for-medium-up columns ETSC-main-panel">
    <h3>◆　关于我们</h3>
    <ul class="side-nav">
      <li><a href="about_us.html">公司简介</a></li>
      <li class="active"><a href="#">客户信息</a></li>
      <li><a href="partners.html">合作伙伴</a></li>
    </ul>
  </div>
  <div class="large-18 medium-18 show-for-medium-up columns normal-text">
    <img src="<%= asset_path("site/customer_banner.jpg") %>" alt="客户"/>

    <p>东隆光电以客户为中心，以技术和服务为立身之本，与国内众多的重点光电企业及相关高校、科研单位建立了密切的合作关系，得到了广大客户的充分认可。</p>

    <p>我们的客户包括有：(以下排名不分先后)</p>
    <dl>
      <dt>高等院校</dt>
      <dd>清华大学、北京大学、北京航空航天大学、北京工业大学、北京邮电大学、北方交通大学、北京理工大学、中央民族大学、哈尔滨工业大学、哈尔滨工程大学、大连理工大学、长春理工大学、东北师范大学、吉林大学、大连民族学院、中国海洋大学、天津大学、南开大学、西安交通大学、西北工业大学、西北大学、西安电子科技大学、山西大学、太原理工大学、上海交通大学、复旦大学、华东师范大学、浙江大学、中国科学技术大学、安徽大学、合肥工业大学、泉州师范大学、南京大学、南京理工大学、南京邮电大学、南京师范大学、东南大学、宁波工程学院、宁波理工大学、温州大学、厦门大学、西南大学、成都电子科技大学、中山大学、华南理工大学、华南师范大学、暨南大学、深圳大学、广东工业大学、中国国防科技大学、武汉工程大学、中南民族大学、海军工程大学、军械士官学院、武汉理工大学、武汉大学、华中科技大学、华中师范大学、湖北大学、江苏大学、苏州大学、浙江工业大学、中国石油大学、中南大学、河南师范大学、首都师范大学、中国人民解放军装备指挥技术学院、人民大学、湖北工业大学、中北大学、兰州大学等。</dd>
      <dt>科研院所</dt>
      <dd>中科院武汉物理与数学所、中科院武汉测量地球物理所、光电国家实验室、中科院北京半导体所、中科院物理所、中科院微电子所、中科院空间中心、北京光电技术研究所、中科院等离子体物理研究所、中科院福建物构所、中科院上海硅酸盐所、中科院上海微系统所、上海光机所、上海激光所、上海技术物理研究所、中国工程物理研究院、西安光机所、安徽光机所、大连化物所、东北电子技术研究所、成都光电所、11所、628所、13所、8358所、7801所、213所、北京航空制造工程研究所、北京长城计量测试技术研究所、618所、205所、21所、23所、24所、26所、34所、44所、718所、717所、722所、209所、山东科学院、中科院苏州纳米所、中科院苏州医工所、中科院上海应物所、中科院理化技术研究所、北京阳坊防化研究所、中国中医科学院、北京军事医学科学院、北京中科院化学研究所、华北光电技术研究所、中国兵器装备研究院、中科院力学研究所、中国科学院高能物理研究所等。</dd>
      <dt>生产企业</dt>
      <dd>华为技术、中兴通讯、阿尔卡特—朗讯、华工科技、美国PE公司、光迅科技、电信器件、烽火科技、JDSU、BOOKHAM、SAE、OPLINK、FLEXTRONICS、NEO-PHOTONICS、3M、FLUKE、深圳昂纳、富创光电、聚光科技、SMC（中国）公司、高意科技、苏州旭电、友达光电、华工正源、滨湖机电、中山波若威、苏州鸿础、博创科技、众友科技、深圳世纪人通讯、无锡中兴、飞博创、清溢精密光电、台达电子、深圳大族、乐普科（天津）光电、武汉凌云光电、深圳星光通科技、三工光电、金运激光、武汉莱特荣、沈阳大陆集团、苏州科纳、华磊光电、蓝宝、高辉、同辉、三安光电、山东华光、杭州艾森、美国康宁、上海大众、通用电气、Finisar、ABB、Comau、库卡自动化设备（上海）有限公司、梅塞尔切割焊接（中国）有限公司、通快中国、奥雷光电、合肥朗伯光电、傅吉亚（无锡）座椅有限公司、合肥朗伯光电、浩光光电、苏州吉矽、山东量子技术研究院有限公司、武钢诺贝(武汉)激光拼焊技术有限公司、广东正业科技股份有限公司、富士康（晋城）科技工业园、阿帕奇IPG（北京）光纤激光技术有限公司、北京锐拓明光电技术有限公司、北京雪迪龙自动控制系统有限公司等。</dd>
    </dl>
  </div>
</div>