
<div id="body_main">
  <style type="text/css">
    #main_scroll_box{position:relative;}
    #main_scroll_num{ position:absolute; bottom:5px; right:5px;}
    #main_scroll_num li{list-style:none;float:left;width:18px;height:16px;FILTER:alpha(opacity=80);opacity:0.8;border:1px solid #D00000;background-color:#FFFFFF;color:#D00000;text-align:center;cursor:pointer;margin-right:4px;padding-top:2px;overflow:hidden;}
    #main_scroll_num li:hover,#main_scroll_num li.active{border:1px solid #D00000;background-color:#FF0000;color:#FFFFFF;width:22px;height:18px;font-weight:bold;font-size:13px;}
    #main_scroll_content li{position:relative;}
    .mask{FILTER:alpha(opacity=40);opacity:0.4;width:100%;height:35px;background-color:#000000;position:absolute;bottom:0;left:0;display:block;}
    .comt{width:320px;height:20px;position:absolute;left:0;bottom:5px;font-size:16px;color:#ffffff;font-weight:bold;text-indent:10px;text-align:left;}
    #prod_marquee ul li {width: 270px; margin-left: 20px;}
</style>
<div style="overflow:hidden;width:917px;height:186px;position:relative;clear:both;">
	<div id="main_scroll_box">
		<ul id="main_scroll_content">
			<li><a href="http://pibm.cn/2014/en/"><img border="0" src="/images/site/scroll_201406_PIBM.jpg" width="917" height="186"/></a><div class="mask"></div><div class="comt">2014年PIBM</div></li>
			<li><a href="http://www.picoquant.com/events/details/international-science-in-your-labs-wuhan-2014-2014"><img border="0" src="/images/site/scroll_201406_workshop.jpg" width="917" height="186"/></a><div class="mask"></div><div class="comt">2014年workshop</div></li>
			<li><a href="javascript:void(0)"><img border="0" src="/images/site/scroll_201112QDlaser.jpg" width="917" height="186"/></a><div class="mask"></div><div class="comt">QD Laser分布反馈激光器</div></li>
		</ul>
	</div>
	<ul id="main_scroll_num">
		<li class="">1</li>
		<li class="">2</li>
		<li class="">3</li>
	</ul>
</div>
  <div id="prod_recommend" class="frame">
    <h2>产品推荐</h2>
    <div class="more"><a href="/site/prod_list.htm"><img alt="more" src="/images/site/more.jpg" /></a></div>
    <% unless @recommend_serials.blank? %>
      <ul>
        <% for recommend_serial in @recommend_serials %>
          <li>
            <% unless recommend_serial.product_images.nil? %>
              <% if recommend_serial.product_images.size>0 %>
                 
              <% else %>
                 
              <% end %>
            <% end %>
            <div> </div> </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div id="recent_prod" class="frame">
    <h2>最新产品</h2>
    <div class="more"><a href="/site/prod_list.htm"><img alt="more" src="/images/site/more.jpg" /></a></div>
    <div id="prod_marquee">
      <ul id="body_prod_marq">
        <% for serial in @recent_serials %>
          <li> </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="news" class="frame">
    <h2>新闻资讯</h2>
    <div class="more"><a href="/site/news.htm"><img alt="more" src="/images/site/more.jpg" /></a></div>
    <ul>
      <% for news in @recent_news %>
        <li> </li>
      <% end %>
    </ul>
  </div>
  <div id="partner" class="frame">
    <h2>合作伙伴</h2>
    <div class="more"><a href="/site/about3"><img alt="more" src="/images/site/more.jpg" /></a></div>
    <div id="partner_marquee" style="overflow:auto;-moz-user-select:none">
        <% for vendor_unit in @vendor_units %>
          <% if vendor_unit.short_code %>
             
          <% end %>
        <% end %>
    </div>
  </div>
  <script type="text/javascript">
    function $(id){return document.getElementById(id)};
    /***********广告banner滚动***********/
    new Marquee(
    {
	    MSClassID : "main_scroll_box",
	    ContentID : "main_scroll_content",
	    TabID	  : "main_scroll_num",
	    Direction : 2,
	    Step	  : 0.5,
	    Width	  : 917,
	    Height	  : 186,
	    Timer	  : 20,
	    DelayTime : 3000,
	    WaitTime  : 0,
	    ScrollStep: 917,
	    SwitchType: 0,
	    AutoStart : 1
    })
    /*********产品滚动***************/
    new Marquee(["prod_marquee","body_prod_marq"],0,1,331,147,40,0,2000);
    new Marquee("partner_marquee",2,1,909,52,20,500,1000,0);
  </script>
  <div id="resources_download" class="frame">
    <h2>资源下载</h2>
    <div class="more"><img alt="more" src="/images/site/more.jpg" /></div>
    <ul>
      <li><a href="/site/download_file/fiberoptics_2012.pdf"><img src="/images/site/Fiber_2012.jpg" alt="东隆科技光纤光学产品手册，大小" title="东隆科技光纤光学产品手册，大小 " /></a></li>
      <li><a href="/site/download_file/photonics_2012.pdf"><img src="/images/site/phonics_2012.jpg" alt="东隆科技激光及测试产品手册，大小" title="东隆科技激光及测试产品手册，大小 " /></a></li>
    </ul>
  </div>
  <div id="solutions" class="frame">
    <h2>解决方案</h2>
    <div class="more"><a href="/site/solution.htm"><img alt="more" src="/images/site/more.jpg" /></a></div>
    <ul>
      <% for solution in @solutions %>
        <li> </li>
      <% end %>
    </ul>
  </div>
  <div id="exhibition_plan" class="frame">
    <h2>参展计划</h2>
    <div class="more"><img alt="more" src="/images/site/more.jpg" /></div>
    <ul>
      <li><a href="#">2014年慕尼黑上海光博会，上海新国际博览中心，2014-03-18至20日。E3馆3640</a></li>
      <li><a href="#">第八届全国激光技术与光电子学学术会议暨“2012中国光学重要成果及优秀产品”发布会 2013-03-19至21日 上海 浦东</a></li>
      <li><a href="#">2013年慕尼黑上海光博会        2013-03-19日至21日 上海</a></li>
    </ul>
  </div>
</div>
