<div class="main">
    <div class="pic f_l main_one">
        <h2><b class="ico"></b>产品中心</h2>
        <div class="pic_list border">
            <div class="pic_list_one">
                <h3><b class="ico_one"></b>激光及光谱</h3>
                <ul>
                    <li><a href="javascript:" title="">激光</a></li>
                    <li><a href="javascript:" title="">太阳能激光器</a></li>
                    <li><a href="javascript:" title="">激光测量</a></li>
                </ul>
            </div>
            <div class="pic_list_one">
                <h3><b class="ico_one"></b>光通讯</h3>
                <ul>
                    <li><a href="javascript:" title="">原材料销售</a></li>
                    <li><a href="javascript:" title="">装备及测试，老化夹具</a></li>
                </ul>
            </div>
            <div class="pic_list_one">
                <h3><b class="ico_one"></b>微加工</h3>
                <ul>
                    <li><a href="javascript:" title="">IPGM</a></li>
                    <li><a href="javascript:" title="">郭琛小组项目</a></li>
                    <li><a href="javascript:" title="">Passat代理激光器</a></li>
                </ul>
            </div>
            <div class="pic_list_one">
                <h3><b class="ico_one"></b>光纤传感</h3>
                <ul>
                    <li><a href="javascript:" title="">光纤传感</a></li>
                    <li><a href="javascript:" title="">光纤气体传感</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="field f_l main_one">
        <h2><b class="ico"></b>应用领域</h2>
        <div class="field_one border">
            <dl>
                <dt class="field_img f_l"><a href="javascript:" title=""><img src="images/pic_1.jpg" alt="" /></a></dt>
                <dd class="f_l">
                <h3>教学领域</h3>
                <p><a href="javascript:" title="">教学领域仪器主要应用于大学基础学科实验室，专业学科....</a></p>
                </dd>
                <div style="clear:both"></div>
            </dl>
            <dl>
                <dt class="field_img f_l"><a href="javascript:" title=""><img src="images/pic_2.jpg" alt="" /></a></dt>
                <dd class="f_l">
                <h3>工业领域</h3>
                <p><a href="javascript:" title="">科艺是国内最大的工业激光系统设备元器件供应商。我们.....</a></p>
                </dd>
                <div style="clear:both"></div>
            </dl>
            <dl>
                <dt class="field_img f_l"><a href="javascript:" title=""><img src="images/pic_3.jpg" alt="" /></a></dt>
                <dd class="f_l">
                <h3>科研领域</h3>
                <p><a href="javascript:" title="">科艺能为科研客户提供90%光学科学实验设备及元件....</a></p>
                </dd>
                <div style="clear:both"></div>
            </dl>
        </div>
    </div>
    <div class="news f_l main_one">
        <h2><b class="ico"></b>新闻中心</h2>
        <div class="news_one border">
            <ul>
                <li><a href="javascript:" title=""><span>[行业新闻]</span>2013东隆夏季激光器、功率计促销大酬宾</a></li>
                <li><a href="javascript:" title=""><span>[展会新闻]</span>第八届全国激光技术与光电子学学术会议</a></li>
                <li><a href="javascript:" title=""><span>[公司新闻]</span>大功率激光光束分析对焊接工艺研究...</a></li>
                <li><a href="javascript:" title=""><span>[行业新闻]</span>2013东隆夏季激光器、功率计促销大酬宾</a></li>
                <li><a href="javascript:" title=""><span>[展会新闻]</span>第八届全国激光技术与光电子学学术会议</a></li>
                <li><a href="javascript:" title=""><span>[公司新闻]</span>大功率激光光束分析对焊接工艺研究...</a></li>
                <li><a href="javascript:" title=""><span>[行业新闻]</span>2013东隆夏季激光器、功率计促销大酬宾</a></li>
                <li><a href="javascript:" title=""><span>[展会新闻]</span>第八届全国激光技术与光电子学学术会议</a></li>
                <li><a href="javascript:" title=""><span>[公司新闻]</span>大功率激光光束分析对焊接工艺研究...</a></li>
                <li><a href="javascript:" title=""><span>[行业新闻]</span>2013东隆夏季激光器、功率计促销大酬宾</a></li>
                <li><a href="javascript:" title=""><span>[展会新闻]</span>第八届全国激光技术与光电子学学术会议</a></li>
                <li><a href="javascript:" title=""><span>[公司新闻]</span>大功率激光光束分析对焊接工艺研究...</a></li>
            </ul>
        </div>
    </div>
    <div class="agent f_l main_one">
        <h2><b class="ico"></b>代理厂家</h2>
        <div class="agent_one border">
            <ul>
                <li><a href="javascript:" title=""><img src="images/pic_4.jpg" alt="" /></a></li>
                <li><a href="javascript:" title=""><img src="images/pic_5.jpg" alt="" /></a></li>
                <li><a href="javascript:" title=""><img src="images/pic_6.jpg" alt="" /></a></li>
                <li><a href="javascript:" title=""><img src="images/pic_7.jpg" alt="" /></a></li>
                <li><a href="javascript:" title=""><img src="images/pic_4.jpg" alt="" /></a></li>
                <li><a href="javascript:" title=""><img src="images/pic_5.jpg" alt="" /></a></li>
                <li><a href="javascript:" title=""><img src="images/pic_6.jpg" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="product" id=demo1 style="overflow:hidden; width:1002px;" align=center>
    <table border=0 align=center cellpadding=1 cellspacing=1 cellspace=0 >
        <tr>
            <td valign=top id=marquePic3>
                <table width="900px" border='0' cellspacing='0'>
                    <tr>
                        <td class="pro_one" align=center>
                            <div class="pro_list"><a href="javascript:" title=""><img src="images/pic_8.jpg" width="140px" height="115px"></a></div>
                            <p><a href="javascript:" title="">半导体激光器驱动器</a></p>
                        </td>
                        <td class="pro_one" align=center>
                            <div class="pro_list"><a href="javascript:" title=""><img src="images/pic_8.jpg" width="140px" height="115px"></a></div>
                            <p><a href="javascript:" title="">半导体激光器驱动器</a></p>
                        </td>
                        <td class="pro_one" align=center>
                            <div class="pro_list"><a href="javascript:" title=""><img src="images/pic_8.jpg" width="140px" height="115px"></a></div>
                            <p><a href="javascript:" title="">半导体激光器驱动器</a></p>
                        </td>
                        <td class="pro_one" align=center>
                            <div class="pro_list"><a href="javascript:" title=""><img src="images/pic_8.jpg" width="140px" height="115px"></a></div>
                            <p><a href="javascript:" title="">半导体激光器驱动器</a></p>
                        </td>
                        <td class="pro_one" align=center>
                            <div class="pro_list"><a href="javascript:" title=""><img src="images/pic_8.jpg" width="140px" height="115px"></a></div>
                            <p><a href="javascript:" title="">半导体激光器驱动器</a></p>
                        </td>
                        <td class="pro_one" align=center>
                            <div class="pro_list"><a href="javascript:" title=""><img src="images/pic_8.jpg" width="140px" height="115px"></a></div>
                            <p><a href="javascript:" title="">半导体激光器驱动器</a></p>
                        </td>
                        <td class="pro_one" align=center>
                            <div class="pro_list"><a href="javascript:" title=""><img src="images/pic_8.jpg" width="140px" height="115px"></a></div>
                            <p><a href="javascript:" title="">半导体激光器驱动器</a></p>
                        </td>
                        <td class="pro_one" align=center>
                            <div class="pro_list"><a href="javascript:" title=""><img src="images/pic_8.jpg" width="140px" height="115px"></a></div>
                            <p><a href="javascript:" title="">半导体激光器驱动器</a></p>
                        </td>
                    </tr>
                    <div style="clear:both"></div>
                </table>
            </td>
            <td class="link_one" id=marquePic4 valign=top></td>
        </tr>
    </table>
</div>