
<div class="content_body">
  <div class="total_text width_fix" id="job">
    <div id="content_text">
      <h3>招贤纳士</h3>
      <dl>
        <dt>技术服务工程师</dt>
        <dd>
					工作职责：
          <ul>
            <li>负责设备的安装、移设，并在工作中与客户保持良好的沟通联络</li>
            <li>负责客户设备的维修</li>
            <li>负责客户的操作培训，确保设备操作运转</li>
            <li>负责对公司内部员工进行技术培训</li>
            <li>学习并翻译公司代理的新产品</li>
            <li>上级主管交待的其它工作</li>
          </ul>
					职位要求：
          <ul>
            <li>光电子、通信、物理等理科为主，本科学历</li>
            <li>二年以上电子维修工作经验</li>
            <li>有良好的沟通协调能力</li>
            <li>有较强的团队合作意识</li>
            <li>有高度的敬业精神和责任心</li>
            <li>能熟练阅读英文资料，英文沟通能力强</li>
          </ul>
        </dd>
        <dt>销售工程师</dt>
        <dd>
					工作职责：
          <ul>
            <li>为负责区域提供专业性支持工作</li>
            <li>在本辖区内建立分销网及扩大公司产品覆盖面</li>
            <li>按照企业计划和程序开展产品推广活动，介绍产品并提供相应资料</li>
            <li>建立客户资料卡及客户档案，完成相关销售报表</li>
            <li>协调公司商务、客户以及进出口公司，完成报价和合同</li>
            <li>跟踪产品下单、发货、到货、货款以及售后等情况</li>
            <li>参加公司召开的销售会议和组织的培训</li>
            <li>为负责区域提供专业性支持工作</li>
            <li>上级主管交待的其它工作</li>
          </ul>
					职位要求：
          <ul>
            <li>光电子、通信、物理等理科为主，本科学历</li>
            <li>三年以上光电子领域销售工作经验</li>
            <li>能熟练阅读英文资料，英文沟通能力强</li>
            <li>有较强的团队合作意识</li>
            <li>工作积极主动，较强的学习能力</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</div>