<div class="row">
  <div class="off-canvas-wrap show-for-small-only" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small"><a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a></section>
        <section class="middle tab-bar-section"><h1 class="title">合作伙伴</h1></section>
      </nav>
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>关于我们</label></li>
          <li><a href="about_us.html">公司简介</a></li>
          <li><a href="customers.html">客户信息</a></li>
          <li class="active"><a href="#">合作伙伴</a></li>
        </ul>
      </aside>
      <section class="main-section">
        <img src="<%= asset_path("site/world_thumb.jpg") %>" alt="合作伙伴"/>

        <table>
          <thead>
          </thead>
          <tbody>
          <tr>
            <td width="156"><img src="http://placehold.it/156x44" /></td>
            <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
          </tr>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          </tr>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          </tr>
          </tbody>
        </table>
      </section>
      <a class="exit-off-canvas"></a></div>
  </div>

  <div class="large-6 medium-6 show-for-medium-up columns ETSC-main-panel">
    <h3>◆　关于我们</h3>
    <ul class="side-nav">
      <li><a href="about_us.html">公司简介</a></li>
      <li><a href="customers.html">客户信息</a></li>
      <li class="active"><a href="#">合作伙伴</a></li>
    </ul>
  </div>
  <div class="large-18 medium-18 show-for-medium-up columns normal-text">
    <img src="<%= asset_path("site/world_thumb.jpg") %>" alt="合作伙伴"/>

    <table class="clear-indent">
      <thead>
      </thead>
      <tbody>
      <tr>
        <td width="170"><img src="http://placehold.it/156x44" /></td>
        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>