<p>所有逗号冒号句号分号引号都用中文的，即， ： 。 ； &ldquo; &rdquo;</p>
<p>10,000这样数字中间的用西文,，因为它不叫逗号，而叫分节符</p>
<p>所有括号都用西文的，即[ ] ( )</p>
<table border="1" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td>应使用</td>
<td>不应使用</td>
<td>原因</td>
<td>备注</td>
</tr>
</thead>
<tbody>
<tr>
<td>℃</td>
<td>&deg;C、OC 、degC等等</td>
<td>正规</td>
<td>是一个字符，不是&deg;和C两个字符拼的</td>
</tr>
<tr>
<td>&plusmn;</td>
<td>+/-</td>
<td>&nbsp;</td>
<td>直接复制或者软键盘数学符号里选</td>
</tr>
<tr>
<td>5~10</td>
<td>5-10、5--10、5&mdash;10、5～10等等</td>
<td>&ldquo;-&rdquo;会和负号混淆，&ldquo;&mdash;&rdquo;会和汉字&ldquo;一&rdquo;混淆</td>
<td>注意全/半角</td>
</tr>
<tr>
<td>1~5W</td>
<td>&nbsp;</td>
<td>~前后单位一样则省略前面一个</td>
<td>数字和单位间不空格</td>
</tr>
<tr>
<td>850nm~10.6&mu;m</td>
<td>&nbsp;</td>
<td>~前后如果单位不一样则不能省略</td>
<td>数字和单位间不空格</td>
</tr>
<tr>
<td>面积为2mm&times;3mm</td>
<td>面积为2&times;3mm</td>
<td>前者表示的是面积，后者表示2个3mm的长度</td>
<td>体积也类似，每一段都要带上单位</td>
</tr>
<tr>
<td>MIL-0-13830B</td>
<td>MIL&mdash;0&mdash;13830B</td>
<td>西文连字符(半字线)</td>
<td>注意全/半角</td>
</tr>
<tr>
<td>玻色&mdash;爱因斯坦</td>
<td>玻色-爱因斯坦</td>
<td>中文连字符(一字线)</td>
<td>为半个破折号</td>
</tr>
<tr>
<td>M<sup>2</sup></td>
<td>M2</td>
<td>正规</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>CO<sub>2</sub></td>
<td>CO2</td>
<td>正规</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&mu;m</td>
<td>um</td>
<td>正规</td>
<td>直接复制或者软键盘数学符号里选</td>
</tr>
<tr>
<td>3&times;3</td>
<td>3*3、3x3、3 &times; 3等等</td>
<td>正规</td>
<td>中间无空格，注意全/半角。直接复制或者软键盘数学符号里选</td>
</tr>
<tr>
<td>1/2</td>
<td>1／2、&frac12;、1 / 2等等</td>
<td>正规</td>
<td>中间无空格，注意全/半角</td>
</tr>
<tr>
<td>http://www.&hellip;&hellip;</td>
<td>www.&hellip;&hellip;</td>
<td>正规</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>(、)</td>
<td>（、）</td>
<td>公式中插入中文括号会很难看；但汉字中插入西文括号可以接受</td>
<td>注意全/半角</td>
</tr>
<tr>
<td>=</td>
<td>＝</td>
<td>公式中插入中文等号会很难看</td>
<td>注意全/半角</td>
</tr>
<tr>
<td>5&rdquo;(5英寸、5 inch)</td>
<td>5&rdquo;、5&Prime;、5&rsquo;&rsquo;、5&rsquo;&rsquo;等等</td>
<td>&nbsp;</td>
<td>在参数表格里出现的时候写&ldquo;5 inch&rdquo;</td>
</tr>
<tr>
<td>&le;、&ge;</td>
<td>&lt;=、&gt;=</td>
<td>正规</td>
<td>直接复制或者软键盘数学符号里选</td>
</tr>
<tr>
<td>&lt;、&gt;</td>
<td>＜、＞</td>
<td>本来是想和上面的&le;&ge;统一的，但一般输入法打&lt;&gt;出来都是书名号，关掉后又只能打出&lt;&gt;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>大于1度</td>
<td>大于1&deg;</td>
<td rowspan="2">
要么都用中文，要么都用算式
</td>
<td>描述里最好这样写</td>
</tr>
<tr>
<td>&gt;1&deg;</td>
<td>&gt;1度</td>
<td>参数表格里最好这样写</td>
</tr>
<tr>
<td>2<sup>1/2</sup></td>
<td>&radic;2</td>
<td>一行文本表示不出，变通方式</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>%</td>
<td>％</td>
<td>正规</td>
<td>注意全/半角</td>
</tr>
<tr>
<td>量级小于等于10<sup>3</sup>用小写字母(&mu;除外)</td>
<td>&nbsp;</td>
<td>正规</td>
<td>如：千(k)、毫(m)、厘(c)、纳(n)、皮(p)、飞(f)等</td>
</tr>
<tr>
<td>量级大于10<sup>3</sup>用大写字母</td>
<td>&nbsp;</td>
<td>正规</td>
<td>如：兆(M)、吉(G)、太(T)等</td>
</tr>
<tr>
<td>单字母单位来源于人名用大写；&ldquo;升&rdquo;用大写</td>
<td>&nbsp;</td>
<td>&ldquo;升&rdquo;因为小写的&ldquo;l&rdquo;和大写的&ldquo;I&rdquo;太像，所以用大写的&ldquo;L&rdquo;</td>
<td>如：安培(A)、伏特(V)、瓦特(W)等</td>
</tr>
<tr>
<td>单字母单位来源于非人名用小写</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>如：吨(t)、小时(h)、秒(s)等</td>
</tr>
<tr>
<td>多字母单位来源于人名首字母大写</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>如：赫兹(Hz)、帕斯卡(Pa)等</td>
</tr>
<tr>
<td>dBm大小写混用</td>
<td>&nbsp;</td>
<td>特例</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>其它情况用小写</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>如：摩尔(mol)、流明(lm)、坎德拉(cd)等</td>
</tr>
<tr>
<td>单字母化学元素用大写</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>如：碳(C)、氧(O)、氢(H)等</td>
</tr>
<tr>
<td>多字母化学元素首字母大写</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>如：铁(Fe)、硅(Si)、镓(Ga)等</td>
</tr>
</tbody>
</table>