
<div class="content_body">
  <div class="total_text width_fix" id="search_result">
    <div id="content_text">
      <h3>搜索结果</h3>
      <% if @search_result %>
        <div class="label_content">
          <ul>
            <% @search_result.each do |p| %>
              <li><%= link_to raw(p.name_txt), :action => "show_product", :id => p, :format => "htm" %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div><%= flash[:notice] %></div>
      <% end %>
    </div>
    <% if @search_result %>
      <%= will_paginate @search_result, {:previous_label => '<前页', :next_label => '后页>'} %>
    <% end %>
  </div>
</div>