
<div class="content_body">
  <div class="content_side">
    <div id="support" class="frame">
      <h2>技术支持</h2>
      <ul>
        <li><%= link_to "服务宗旨", :action => "support1", :id => nil, :format =>"htm" %></li>
        <li><span>校准维修</span></li>
        <li><%= link_to "常见问题", :action => "support3", :id => nil, :format =>"htm" %></li>
      </ul>
    </div>
  </div>
  <div class="total_text" id="not_product">
    <div class="content_text">
      <p>为了更好的服务我们的客户，让我们的每一款产品为客户发挥最大的效应，我中心配备专业的技术人员，为您提供完善的产品的售前售后服务，我们的服务既包括针对产品的应用支持服务，也包括维修校准等售后服务。</p>
      <dl>
        <dt>应用支持服务</dt>
        <dd>我们的产品广泛应用于光谱研究、光纤通讯、航空航天、品质检测、激光加工、生物医疗及信息安全等相关领域，为教学科研和生产制造提供了有力的技术和设备保障。针对客户的应用要求，我们的技术支持人员会为您推荐合适的产品，以及全套的解决方案。使客户能够用最经济最有效的方法，实现自己的应用。</dd>
        <dt>校准服务</dt>
        <dd>作为ILX Lightwave Corp.在中国指定的授权校准服务中心，我中心的实验室配备ILX专用的校准系统UTS(Unified Test System)，还配有安捷伦(Agilent)、吉时利(Keithley)、泰克(Tektronix)等世界顶尖的精密仪器仪表用于校准设备。所有校准服务遵循ILX标准校准程序，产品的校准过程严格依据校准标准MIL-STD，并可溯源到NIST标准，全过程满足ISO9000的要求。我们的专业的技术人员和设备保证对所有ILX的产品提供快速完善的校准服务，使每台仪器都能恢复到出厂时的状态。</dd>
        <dt>维修服务</dt>
        <dd>我们高素质的技术服务人员可以使用经过严格筛选并授权下的部件和标准，提供给您快捷的维修服务。每台经过维修的仪器都拥有90天的保修期。对一些型号较早的产品，我们也提供维修校准服务，这依赖于是否还有老产品零部件。为了满足不同客户的需求，我们可提供以下维修方式供客户选择：
          <dl>
            <dt>远程维修</dt>
            <dd>我们通过电话、网络、视频会议等各种媒介了解仪器的故障，提供可行的维修方案，让客户能够正常使用仪器，而且丝毫不影响到客户的科研或生产。</dd>
            <dt>中心维修</dt>
            <dd>我中心的实验室配备有安捷伦(Agilent)、吉时利(Keithley)、泰克(Tektronix)等世界顶尖的精密仪器仪表用于检测维修，还备有各种型号仪器的元件、配件，以最快的速度完成维修工作。</dd>
            <dt>上门维修</dt>
            <dd>我中心充分考虑客户的不同需求，根据仪器的故障特征等因素判断，在条件允许的情况下，可预约安排上门维修。</dd>
            <dt>返厂维修</dt>
            <dd>由于各方面条件的限制，部分型号的仪器需要返回工厂进行维修。维修期间，我中心可提供部分型号仪器的租借服务，最大限度地不影响客户的科研或生产。</dd>
          </dl>
        </dd>
        <dt>培训服务</dt>
        <dd>我中心根据客户的不同要求，可提供产品操作、产品应用服务和仪器维护保养等相关项目的培训服务。
          <p>如需更多关于维修校准的信息，请联系我司校准维修服务中心。</p>
          <p>电话：86 27 87807177 转 810</p>
          <p>传真：86 27 87807133</p>
          <p>邮件：<a href="mailto:support@etsc-tech.com" id="ETSCemail">support@etsc-tech.com</a></p>
        </dd>
      </dl>
    </div>
  </div>
</div>
