
<div class="content_body">
  <div class="content_side">
    <div id="support" class="frame">
      <h2>技术支持</h2>
      <ul>
        <li><span>服务宗旨</span></li>
        <li><%= link_to "校准维修", :action => "support2", :id => nil, :format =>"htm" %></li>
        <li><%= link_to "常见问题", :action => "support3", :id => nil, :format =>"htm" %></li>
      </ul>
    </div>
  </div>
  <div class="total_text" id="not_product">
    <div class="content_text">
      <dl>
        <dt>服务承诺</dt>
        <dd>以最快的速度响应客户需求，以完善快捷的技术支持满足客户需要。
          <ul>
            <li>对于我公司销售的元器件类产品，在保质期内，若客户与我们测试数据有出入，排除测试手段的差异和人为损坏的原因，我们将为客户免费更换产品。 </li>
            <li>对于我公司销售的仪器设备，我们将提供客户完备的操作指南和使用诀窍。在保质期内出现质量问题，由我们负责处理。大型设备或仪器，我们将有专门技术人员为客户安装调试，并为操作人员免费提供技术培训，直至操作熟练。 </li>
            <li>对于我公司销售仪器设备的随机软件，在保质期内，我们会为客户提供免费升级服务，同时为了使设备更配合客户的使用，对于客户提出的要求本公司将尽力予以满足。 </li>
          </ul>
        </dd>
        <dt>服务热线</dt>
        <dd>若您有任何需要，请联系您的销售工程师，或通知我们，我们会有相应人员与您联络。
          <p>电话：86 27 87807177 转 810</p>
          <p>传真：86 27 87807133</p>
          <p>邮件：<a href="mailto:support@etsc-tech.com" id="ETSCemail">support@etsc-tech.com</a></p>
        </dd>
      </dl>
    </div>
  </div>
</div>
